* {
  box-sizing: border-box;
}

.card {
  max-width: 500px;
  position: relative;
  background-color: #fcebd0ae;
  border-radius: 1em;
  transform: translateX(1em);
  padding: 1.5em;
}

.card b {
  position: absolute;
  display: block;
  inset: 1em;
  text-align: end;
  color: cornflowerblue;
}

.wrap :is(h1, h2, h3) {
  margin-block: 0;
  margin-bottom: 0.4em;
}

.wrap {
  direction: rtl;
  text-align: right;
  display: grid;
  grid-template-rows: max-content;
  gap: 1.5em;
}

.cta {
  display: grid;
  background-color: #413a8e4a;
  place-items: center;
  width: max-content;
  border-radius: 1em;
  cursor: pointer;
  color: #413a8e;
}

.cta a {
  display: block;
  padding: 1em;
  text-decoration: none;
  opacity: 0.8;
  transition: ease-out 0.2s;
}

.cta a:hover {
  color: #413a8e;
  opacity: 1;
}

.preSignup {
  position: absolute;
  inset: 0;
  background-color: darkcyan;
  color: whitesmoke;
  transition: ease-in-out 0.25s;
  padding-block: 1em;
  padding-inline: 1em;
  transform: translateX(1em);
  border-radius: 1em;
}

.preSignup[data-hide='hide'] {
  opacity: 0;
}

section {
  position: relative;
  max-width: 500px;
  display: grid;
}
